
<% @books.each do |book| %>

<div class="col md-8 offset-md-1"></div>
<h2>Books</h2>

<table class="table table-hover table-inverse">
  <thead>
   <th></th>
   <th>Title</th>
   <th>Opinion</th>
   <th colspan="3"></th>
  </thead>

<span>
 <%= link_to book.title, books_path(book.id) %>
</span>

</table>